<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.media.mapper.MediaProcessMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="MediaProcess">
        <id column="id" property="id" />
        <result column="file_id" property="fileId" />
        <result column="filename" property="filename" />
        <result column="bucket" property="bucket" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="finish_date" property="finishDate" />
        <result column="url" property="url" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, file_id, filename, bucket, status, create_date, finish_date, url
    </sql>

    <!-- 获取待处理任务列表 -->
    <select id="selectMediaProcessList" resultType="MediaProcess">
        SELECT *
        FROM media_process p
        WHERE p.id % #{shardTotal} = #{shardIndex}
            AND (p.status = 1 OR p.status = 3)
            AND p.fail_count &lt; 3
        LIMIT #{count}
    </select>

    <!-- 执行一次任务，更新任务数据 -->
    <update id="startProcessOnce">
        UPDATE media_process AS p
        -- treat `status` as an optimistic lock, set it to 4 means the task is being processed
        SET p.status = '4'
        WHERE (p.status = '1' OR p.status = '3')
            AND p.fail_count &lt; 3
            AND p.id = #{processId};
    </update>

</mapper>
